WAL-Dex-prod/pipeline/Get_Ecom_Data_From_BC_ILG.json
{
	"name": "Get_Ecom_Data_From_BC_ILG",
	"properties": {
		"activities": [
			{
				"name": "Get Service Codes_ILG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "\n SELECT  TOP 1 * FROM dbo.DEX_Site_Config  \n WHERE   SiteCode LIKE'%EU%'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tab_DEX_Site_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach ServiceCode_ILG",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Service Codes_ILG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Service Codes_ILG').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get_Ecom_Data_From_BC_ILG",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Get_Ecom_Data_From_BC_Internal_ILG",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SiteCode": {
										"value": "@item().SiteCode",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Ecom"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-16T11:13:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}