WAL-Dex-prod/pipeline/Get_Conf_From_EDI_FTP.json
{
	"name": "Get_Conf_From_EDI_FTP",
	"properties": {
		"activities": [
			{
				"name": "Get Interface Info IBEDISCFBL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DI.InterfaceCode, DI.[Enabled], DI.[Type], DI.[Direction], DI.[FTPDropDir], DI.FTPProcessedDir \nFROM dbo.DEX_Interface DI\nWHERE InterfaceCode = 'IBEDISCFBL'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tab_DEX_Interface",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GET WC Order Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get Interface Info IBEDISCFBL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Tanologist_SFTP",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@activity('Get Interface Info IBEDISCFBL').output.value[0].FTPDropDir",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter Only Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET WC Order Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET WC Order Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Shipment Confirmation",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Only Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Only Files').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Load_Interface_Files_From_WC",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[Load_Interface_Files_From_WC]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Tab_DEX_Interface_Files",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy WC Order File to Azure Blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_Interface_Files_From_WC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/wc/Outbound/Drop/"
								},
								{
									"name": "Destination",
									"value": "drop//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCFBL').output.value[0].FtpDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Storage_IB_Drop_Folder_Blob",
									"type": "DatasetReference",
									"parameters": {
										"Container": "/",
										"Directory": "ibdrop",
										"filename": "*"
									}
								}
							]
						},
						{
							"name": "Update_Downloaded_File_From_WC",
							"description": "Update Downloaded File From WC in Interface Files Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy WC Order File to Azure Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Downloaded_File_From_WC]",
								"storedProcedureParameters": {
									"FileID": {
										"value": {
											"value": "@activity('Load_Interface_Files_From_WC').output.firstRow.NewFileID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Move_Files_To_InProcess_In_Blob",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Update_Downloaded_File_From_WC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move_Files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceStore_Location": "/",
									"SourceStore_Directory": "ibdrop",
									"DestinationStore_Location": "/",
									"DestinationStore_Directory": "ibinprocess",
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Load In Process File From Blob to Azure SQL",
							"description": "Load In Process File From Blob to Azure SQL (Interface document table)",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Move_Files_To_InProcess_In_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Load_InProcess_Files_From_BS]",
								"storedProcedureParameters": {
									"ContainerName": {
										"value": "ibinprocess",
										"type": "String"
									},
									"DataSource": {
										"value": "AzureStorage",
										"type": "String"
									},
									"Direction": {
										"value": "Inbound",
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Move_Files_To_Processed_In_Blob",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load In Process File From Blob to Azure SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move_Files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceStore_Location": "/",
									"SourceStore_Directory": "ibinprocess",
									"DestinationStore_Location": "/",
									"DestinationStore_Directory": "ibprocessed",
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Update_Processed_File_From_WC",
							"description": "Update Processed File From WC in Interface Files Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Move_Files_To_Processed_In_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Processed_File_From_WC]",
								"storedProcedureParameters": {
									"FileID": {
										"value": {
											"value": "@activity('Load_Interface_Files_From_WC').output.firstRow.NewFileID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SFTP Move WC Orders to Processed",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Update_Processed_File_From_WC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/wc/Outbound/Drop/"
								},
								{
									"name": "Destination",
									"value": "drop//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCFBL').output.value[0].FTPDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCFBL').output.value[0].FTPProcessedDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Orders File From OBDrop",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "SFTP Move WC Orders to Processed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCFBL').output.value[0].FTPDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Interface Info IBEDISCWAL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "For Each Shipment Confirmation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DI.InterfaceCode, DI.[Enabled], DI.[Type], DI.[Direction], DI.[FTPDropDir], DI.FTPProcessedDir \nFROM dbo.DEX_Interface DI\nWHERE InterfaceCode = 'IBEDISCWAL'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tab_DEX_Interface",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GET WC Order Files WAL",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get Interface Info IBEDISCWAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Tanologist_SFTP",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@activity('Get Interface Info IBEDISCWAL').output.value[0].FTPDropDir",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter Only Files WAL",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET WC Order Files WAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET WC Order Files WAL').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Shipment Confirmation WAL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Only Files WAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Only Files WAL').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Load_Interface_Files_From_WC_WAL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[Load_Interface_Files_From_WC]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Tab_DEX_Interface_Files",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy WC Order File to Azure Blob WAL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_Interface_Files_From_WC_WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/wc/Outbound/Drop/"
								},
								{
									"name": "Destination",
									"value": "drop//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCWAL').output.value[0].FtpDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Storage_IB_Drop_Folder_Blob",
									"type": "DatasetReference",
									"parameters": {
										"Container": "/",
										"Directory": "ibdrop",
										"filename": "*"
									}
								}
							]
						},
						{
							"name": "Update_Downloaded_File_From_WC_WAL",
							"description": "Update Downloaded File From WC in Interface Files Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy WC Order File to Azure Blob WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Downloaded_File_From_WC]",
								"storedProcedureParameters": {
									"FileID": {
										"value": {
											"value": "@activity('Load_Interface_Files_From_WC_WAL').output.firstRow.NewFileID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Move_Files_To_InProcess_In_Blob_WAL",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Update_Downloaded_File_From_WC_WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move_Files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceStore_Location": "/",
									"SourceStore_Directory": "ibdrop",
									"DestinationStore_Location": "/",
									"DestinationStore_Directory": "ibinprocess",
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Load In Process File From Blob to Azure SQL_WAL",
							"description": "Load In Process File From Blob to Azure SQL (Interface document table)",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Move_Files_To_InProcess_In_Blob_WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Load_InProcess_Files_From_BS]",
								"storedProcedureParameters": {
									"ContainerName": {
										"value": "ibinprocess",
										"type": "String"
									},
									"DataSource": {
										"value": "AzureStorage",
										"type": "String"
									},
									"Direction": {
										"value": "Inbound",
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Move_Files_To_Processed_In_Blob_WAL",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load In Process File From Blob to Azure SQL_WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move_Files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceStore_Location": "/",
									"SourceStore_Directory": "ibinprocess",
									"DestinationStore_Location": "/",
									"DestinationStore_Directory": "ibprocessed",
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Update_Processed_File_From_WC_WAL",
							"description": "Update Processed File From WC in Interface Files Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Move_Files_To_Processed_In_Blob_WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Processed_File_From_WC]",
								"storedProcedureParameters": {
									"FileID": {
										"value": {
											"value": "@activity('Load_Interface_Files_From_WC_WAL').output.firstRow.NewFileID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SFTP Move WC Orders to Processed_WAL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Update_Processed_File_From_WC_WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/wc/Outbound/Drop/"
								},
								{
									"name": "Destination",
									"value": "drop//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCWAL').output.value[0].FTPDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCWAL').output.value[0].FTPProcessedDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Orders File From OBDrop_WAL",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "SFTP Move WC Orders to Processed_WAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Tanologist_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBEDISCWAL').output.value[0].FTPDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "EDI Confirmations"
		},
		"annotations": []
	}
}