WAL-Dex-prod/pipeline/Get_Rec_Data_From_IOP_FTP.json
{
	"name": "Get_Rec_Data_From_IOP_FTP",
	"properties": {
		"activities": [
			{
				"name": "Get Interface Info IBWCREC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DI.InterfaceCode, DI.[Enabled], DI.[Type], DI.[Direction], DI.[FTPDropDir], DI.FTPProcessedDir \nFROM dbo.DEX_Interface DI\nWHERE InterfaceCode = 'IBWCREC'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tab_DEX_Interface",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GET WC Order Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get Interface Info IBWCREC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "IOP_WC_SFTP",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@activity('Get Interface Info IBWCREC').output.value[0].FTPDropDir",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "For Each Order File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET WC Order Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET WC Order Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Load_Interface_Files_From_WC",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[Load_Interface_Files_From_WC]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Tab_DEX_Interface_Files",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy WC Order File to Azure Blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_Interface_Files_From_WC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/wc/Outbound/Drop/"
								},
								{
									"name": "Destination",
									"value": "drop//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "IOP_WC_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBWCREC').output.value[0].FtpDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Storage_IB_Drop_Folder_Blob",
									"type": "DatasetReference",
									"parameters": {
										"Container": "/",
										"Directory": "ibrecdrop",
										"filename": "*"
									}
								}
							]
						},
						{
							"name": "Update_Downloaded_File_From_WC",
							"description": "Update Downloaded File From WC in Interface Files Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy WC Order File to Azure Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Downloaded_File_From_WC]",
								"storedProcedureParameters": {
									"FileID": {
										"value": {
											"value": "@activity('Load_Interface_Files_From_WC').output.firstRow.NewFileID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Move_Files_To_InProcess_In_Blob",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Update_Downloaded_File_From_WC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move_Files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceStore_Location": "/",
									"SourceStore_Directory": "ibrecdrop",
									"DestinationStore_Location": "/",
									"DestinationStore_Directory": "ibrecinprocess",
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Move_Files_To_Processed_In_Blob",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy Rec Data From Blob To DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move_Files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceStore_Location": "/",
									"SourceStore_Directory": "ibrecinprocess",
									"DestinationStore_Location": "/",
									"DestinationStore_Directory": "ibrecprocessed",
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Update_Processed_File_From_WC",
							"description": "Update Processed File From WC in Interface Files Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Move_Files_To_Processed_In_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Processed_File_From_WC]",
								"storedProcedureParameters": {
									"FileID": {
										"value": {
											"value": "@activity('Load_Interface_Files_From_WC').output.firstRow.NewFileID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DEXInterfaceProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SFTP Move WC Orders to Processed",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Update_Processed_File_From_WC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/wc/Outbound/Drop/"
								},
								{
									"name": "Destination",
									"value": "drop//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "IOP_WC_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBWCREC').output.value[0].FTPDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "IOP_WC_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBWCREC').output.value[0].FTPProcessedDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Orders File From OBDrop",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "SFTP Move WC Orders to Processed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "IOP_WC_SFTP_Connection_With_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@activity('Get Interface Info IBWCREC').output.value[0].FTPDropDir",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Copy Rec Data From Blob To DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Move_Files_To_InProcess_In_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "SiteCode",
											"value": {
												"value": "@{substring(item().name,0,indexOf(item().name,'_'))}",
												"type": "Expression"
											}
										},
										{
											"name": "Direction",
											"value": {
												"value": "Inbound",
												"type": "Expression"
											}
										},
										{
											"name": "CreatedOn",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										},
										{
											"name": "FileName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "InterfaceCode",
											"value": {
												"value": "IBWCREC",
												"type": "Expression"
											}
										},
										{
											"name": "MessageType",
											"value": {
												"value": "Recon",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['Order_Date']"
											},
											"sink": {
												"name": "Order_Date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['Order_Status']"
											},
											"sink": {
												"name": "Order_Status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Order_Number']"
											},
											"sink": {
												"name": "Order_Number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['SiteCode']"
											},
											"sink": {
												"name": "SiteCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Direction']"
											},
											"sink": {
												"name": "Direction",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['CreatedOn']"
											},
											"sink": {
												"name": "CreatedOn",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['FileName']"
											},
											"sink": {
												"name": "FileName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['InterfaceCode']"
											},
											"sink": {
												"name": "InterfaceCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['MessageType']"
											},
											"sink": {
												"name": "MessageType",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['Orders']['Order']"
								}
							},
							"inputs": [
								{
									"referenceName": "Storage_IB_Rec_Drop_Folder",
									"type": "DatasetReference",
									"parameters": {
										"Container": "ibrecinprocess",
										"Directory": "/",
										"File": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Tab_DEX_Rec_Interface_Document",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Reconciliation"
		},
		"annotations": []
	}
}