WAL-Dex-prod/pipeline/Master_Process_Rec.json
{
	"name": "Master_Process_Rec",
	"properties": {
		"activities": [
			{
				"name": "Send Failure Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Master_Process_Rec_Internal",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-26.uksouth.logic.azure.com:443/workflows/660cbc90a51a40dab53e76f370f74e70/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rslDaEeWOQuFduFl-Q7zq0CcPvzeZBaVvKrOXGfeAak",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"@{activity('Master_Process_Rec_Internal').output.pipelineName} FAILED!\",\n    \"message\": \"Error: @{activity('Master_Process_Rec_Internal').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{activity('Master_Process_Rec_Internal').output.pipelineName}\",\n    \"pipelineRunId\": \"@{activity('Master_Process_Rec_Internal').output.pipelineRunId}\",\n    \"time\": \"@{utcnow()}\",\n   \"recipientEmailAddress\":\"@{activity('GetEmailList').output.firstRow.InterfaceFailureAlertEmails}\"\n    }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetEmailList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT InterfaceSuccessAlertEmails,InterfaceFailureAlertEmails FROM dbo.DEX_Interface_Setup",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tab_DEX_Interface_Setup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Master_Process_Rec_Internal",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetEmailList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Master_Process_Rec_Internal",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "Reconciliation"
		},
		"annotations": []
	}
}