WAL-Dex-adf_publish_prod/adfDEXProd/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfDEXProd"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Storage_Source_Des_File_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the file in the data source store.",
				"linkedServiceName": {
					"referenceName": "sadexprod",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"container": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage_Source_Destination_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the folder in the data source store.",
				"linkedServiceName": {
					"referenceName": "sadexprod",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"container": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_BC_Inb_Docs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteCode",
						"type": "nvarchar"
					},
					{
						"name": "MessageDate",
						"type": "date"
					},
					{
						"name": "MessageType",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Exported",
						"type": "bit"
					},
					{
						"name": "ExportedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FileData",
						"type": "xml"
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "BCMessageID",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BC_Inbound_Documents"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_BC_Outb_Doc_Response')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BCMessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MessageType",
						"type": "nvarchar"
					},
					{
						"name": "Direction",
						"type": "nvarchar"
					},
					{
						"name": "PayLoad",
						"type": "xml"
					},
					{
						"name": "SiteCode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BC_Outbound_Document_Response"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Interface')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "InterfaceCode",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Enabled",
						"type": "bit"
					},
					{
						"name": "CopyToOutboundFolder",
						"type": "bit"
					},
					{
						"name": "CopyToOutboundInterfaceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "Action",
						"type": "nvarchar"
					},
					{
						"name": "FTPConfig",
						"type": "nvarchar"
					},
					{
						"name": "FTPDropDir",
						"type": "nvarchar"
					},
					{
						"name": "FTPProcessedDir",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Interface_Docs_Response')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WBInboundBCDocumentId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "SiteCode",
						"type": "text"
					},
					{
						"name": "MessageDate",
						"type": "date"
					},
					{
						"name": "MessageType",
						"type": "text"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Exported",
						"type": "bit"
					},
					{
						"name": "ExportedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FileData",
						"type": "text"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface_Document_Response"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Interface_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FileID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "IsDownloaded",
						"type": "bit"
					},
					{
						"name": "IsProcessed",
						"type": "bit"
					},
					{
						"name": "DownloadedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ProcessedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface_Files"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Interface_Setup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WB_Interface_Setup_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AZKeyVaultURL",
						"type": "nvarchar"
					},
					{
						"name": "BCBaseURL",
						"type": "nvarchar"
					},
					{
						"name": "Version",
						"type": "nvarchar"
					},
					{
						"name": "DefaultTennantID",
						"type": "nvarchar"
					},
					{
						"name": "ActiveEnvironment",
						"type": "nvarchar"
					},
					{
						"name": "ExchangeRateAPIUrl",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceSuccessAlertEmails",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceFailureAlertEmails",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceInboundFilesBasePath",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceOutboundFilesBasePath",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface_Setup"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Oauth_Access_Token')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AccessToken",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Oauth_Access_Token"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Oauth_Config')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ServiceCode",
						"type": "nvarchar"
					},
					{
						"name": "TenantID",
						"type": "nvarchar"
					},
					{
						"name": "OauthBaseURL",
						"type": "nvarchar"
					},
					{
						"name": "OauthVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContentType",
						"type": "nvarchar"
					},
					{
						"name": "GrantType",
						"type": "nvarchar"
					},
					{
						"name": "ClientID",
						"type": "nvarchar"
					},
					{
						"name": "ClientSecret",
						"type": "nvarchar"
					},
					{
						"name": "Scope",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Oauth_Config"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Rec_Interface_Document')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Rec_Interface_Document"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Rec_Interface_Shipment_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteCode",
						"type": "nvarchar"
					},
					{
						"name": "Order_Number",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Rec_Interface_Shipment_Order"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Site_Config')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SiteCode",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "TennantID",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "ActiveEnvironment",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Site_Config"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_Dex_Interface_Document')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DEXInterfaceProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteCode",
						"type": "nvarchar"
					},
					{
						"name": "Direction",
						"type": "nvarchar"
					},
					{
						"name": "MessageDate",
						"type": "date"
					},
					{
						"name": "MessageType",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Exported",
						"type": "bit"
					},
					{
						"name": "ExportedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FileData",
						"type": "xml"
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "BCMessageID",
						"type": "nvarchar"
					},
					{
						"name": "ConfirmationSentToBC",
						"type": "bit"
					},
					{
						"name": "ConfirmationSentOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InterfaceCode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface_Document"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tanluxe_WC_SFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Tanluxe_Sftp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tanluxe_WC_SFTP_Connection_With_FileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Tanluxe_Sftp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tanologist_SFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpWpEngine",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tanologist_SFTP_Connection_With_FileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpWpEngine",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Convert_CSV_To_JSON_And_Move_To_Inprocess')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Convert CSV To JSON",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Storage_CSV_Source_With_Filename",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SourceStore_Location",
										"type": "Expression"
									},
									"File": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SourceStore_Directory",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Storage_Json_with_Directory",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.DestinationStore_Location",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceStore_Location": {
						"type": "string"
					},
					"SourceStore_Directory": {
						"type": "string"
					},
					"DestinationStore_Location": {
						"type": "string"
					},
					"DestinationStore_Directory": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ILG Confirmations"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete_Older_Files_From_Blob_Internal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Older Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Storage_Source_Destination_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"Directory": "/"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(utcnow(),-10)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach File Deletion",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Older Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Older Files').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Delete File",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 60,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Storage_Source_Des_File_Blob",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"Directory": {
													"value": "/",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"container": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Ecom"
				},
				"annotations": [],
				"lastPublishTime": "2021-08-20T06:36:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Destination_Blob')]",
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Des_File_Blob')]"
			]
		}
	]
}