WAL-Dex-adf_publish_prod/adfDEXProd/PartialArmTemplates/ArmTemplate_9_7_2021_2_15_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfDEXProd"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Delete_Older_Files_From_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Container Names",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Storage_Source_Destination_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": "/",
									"Directory": "/"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach Container",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Container Names",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Container Names').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Delete_Older_Files_From_Blob_Internal",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Delete_Older_Files_From_Blob_Internal",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-30T10:13:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Destination_Blob')]",
				"[concat(variables('factoryId'), '/pipelines/Delete_Older_Files_From_Blob_Internal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete_Older_Files_From_Blob_Internal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Older Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Storage_Source_Destination_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"Directory": "/"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(utcnow(),-10)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach File Deletion",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Older Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Older Files').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Delete File",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Storage_Source_Des_File_Blob",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"Directory": {
													"value": "/",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"container": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-20T06:36:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Destination_Blob')]",
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Des_File_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Data_From_BC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Service Codes",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": " SELECT TOP 2 SiteCode FROM dbo.DEX_Site_Config  WHERE SiteCode  LIKE'%US%' OR SiteCode LIKE'%UK%'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_DEX_Site_Config",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach ServiceCode",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Service Codes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Service Codes').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Get_Data_From_BC_Internal",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Get_Data_From_BC_Internal",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SiteCode": {
												"value": "@item().SiteCode",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-16T11:13:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tab_DEX_Site_Config')]",
				"[concat(variables('factoryId'), '/pipelines/Get_Data_From_BC_Internal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Data_From_BC_Internal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Process Outband Data",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "For Each Message Acknowledgement",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Load BC Outbound Data]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_BC_Inb_Docs",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get Messages From BC",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get Service Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "POST",
									"additionalHeaders": {
										"value": "Content-Type:@{activity('Get Service Config').output.firstRow.ContentType}\nsoapAction:@{activity('Get Service Config').output.firstRow.SoapAction}",
										"type": "Expression"
									},
									"requestBody": {
										"value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n    <soap:Body>\n        <GetOutboundMessages xmlns=\"urn:microsoft-dynamics-schemas/codeunit/MessageMgmt\">\n          <messageXML></messageXML>\n        </GetOutboundMessages>\n    </soap:Body>\n</soap:Envelope>",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"dataset": {
								"referenceName": "Http_BC_WebService",
								"type": "DatasetReference",
								"parameters": {
									"RelUrl": {
										"value": "@activity('Get Service Config').output.firstRow.RelativeURL",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Message Acknowledgement",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set FilteredMessageAcknowledgement",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('FilteredMessageAcknowledgement')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Update BC Response",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[Load_BC_Outbound_Document_Response]",
											"storedProcedureParameters": {
												"BCMessageID": {
													"type": "Int32",
													"value": {
														"value": "@{item().Id}",
														"type": "Expression"
													}
												},
												"Direction": {
													"type": "String",
													"value": {
														"value": "@{item().Direction}",
														"type": "Expression"
													}
												},
												"MessageType": {
													"type": "String",
													"value": {
														"value": "@{item().MessageType}",
														"type": "Expression"
													}
												},
												"PayLoad": {
													"type": "String",
													"value": {
														"value": "@{item().Payload}",
														"type": "Expression"
													}
												},
												"SiteCode": {
													"type": "String",
													"value": {
														"value": "@{item().SiteCode}",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Tab_BC_Outb_Doc_Response",
											"type": "DatasetReference"
										},
										"firstRowOnly": false
									}
								}
							]
						}
					},
					{
						"name": "Check If Record Is Array",
						"description": "if record is array -> pass value as it is\nelse -> create array of that single record \n            and pass ",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Messages From BC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@startswith(string(json(xml(replace(string(xml(activity('Get Messages From BC').output.value[0])), ':', ''))).Envelope.Body.GetOutboundMessages_Result.messageXML.MessageAcknowledgement),'[')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Create Array For One Record",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "MessageAcknowledgement",
										"value": {
											"value": "@createArray(json(xml(replace(string(xml(activity('Get Messages From BC').output.value[0])), ':', ''))).Envelope.Body.GetOutboundMessages_Result.messageXML.MessageAcknowledgement)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Send Array As It Is",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "MessageAcknowledgement",
										"value": {
											"value": "@json(xml(replace(string(xml(activity('Get Messages From BC').output.value[0])), ':', ''))).Envelope.Body.GetOutboundMessages_Result.messageXML.MessageAcknowledgement",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Empty Record",
						"description": "Check If empty record exists in MessageAcknowledgement \nthen FilteredMessageAcknowledgement will be empty otherwise it will be filled",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Check If Record Is Array",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('MessageAcknowledgement')",
								"type": "Expression"
							},
							"condition": {
								"value": "@not(equals(variables('MessageAcknowledgement')[0].Id,'0'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set FilteredMessageAcknowledgement",
						"description": "Fill the FilteredMessageAcknowledgement  Array after filtering the record",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Filter Empty Record",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FilteredMessageAcknowledgement",
							"value": {
								"value": "@activity('Filter Empty Record').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Service Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Get_Service_Configuration]",
								"storedProcedureParameters": {
									"ServiceCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ServiceCode",
											"type": "Expression"
										}
									},
									"SiteCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SiteCode",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_BC_Outb_Doc_Response",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					}
				],
				"parameters": {
					"ServiceCode": {
						"type": "string",
						"defaultValue": "GetOutboundMessages"
					},
					"SiteCode": {
						"type": "string"
					}
				},
				"variables": {
					"MessageAcknowledgement": {
						"type": "Array"
					},
					"FilteredMessageAcknowledgement": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-16T06:42:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Inb_Docs')]",
				"[concat(variables('factoryId'), '/datasets/Http_BC_WebService')]",
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Outb_Doc_Response')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Data_From_WC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET WC Order Files",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Interface Info IBWCSO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/wc/Outbound/Drop/"
							},
							{
								"name": "Destination",
								"value": "drop//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "WC_SFTP",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@activity('Get Interface Info IBWCSO').output.value[0].FtpDropDir",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Storage_IB_Drop_Folder_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": "/",
									"Directory": "ibdrop",
									"filename": "*"
								}
							}
						]
					},
					{
						"name": "Move Files to InProcess",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "For Each File To Delete",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Move FTP Shipment Files to Processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SourceStore_Location": {
									"value": "/",
									"type": "Expression"
								},
								"SourceStore_Directory": "ibdrop",
								"DestinationStore_Location": "/",
								"DestinationStore_Directory": "ibinprocess"
							}
						}
					},
					{
						"name": "Process Data Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Move Files to InProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Process_Data_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Move Files to Processed",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Process Data Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SourceStore_Location": {
									"value": "/",
									"type": "Expression"
								},
								"SourceStore_Directory": "ibinprocess",
								"DestinationStore_Location": "/",
								"DestinationStore_Directory": "ibprocessed"
							}
						}
					},
					{
						"name": "FTP Move WC Orders to Processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GET WC Order Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/wc/Outbound/Drop/"
							},
							{
								"name": "Destination",
								"value": "drop//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "WC_SFTP",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@activity('Get Interface Info IBWCSO').output.value[0].FTPDropDir",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WC_SFTP",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@activity('Get Interface Info IBWCSO').output.value[0].FTPProcessedDir",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Get WC Shipment Files",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Interface Info IBPDRSHIP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/wc/Outbound/Drop/"
							},
							{
								"name": "Destination",
								"value": "drop//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "WC_SFTP",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@activity('Get Interface Info IBPDRSHIP').output.value[0].FtpDropDir",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Storage_IB_Drop_Folder_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": "/",
									"Directory": "ibdrop",
									"filename": "*"
								}
							}
						]
					},
					{
						"name": "Move FTP Shipment Files to Processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get WC Shipment Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/wc/Outbound/Drop/"
							},
							{
								"name": "Destination",
								"value": "drop//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "WC_SFTP",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@activity('Get Interface Info IBPDRSHIP').output.value[0].FtpDropDir",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WC_SFTP",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@activity('Get Interface Info IBPDRSHIP').output.value[0].FTPProcessedDir",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Get Interface Info IBWCSO",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DI.InterfaceCode, DI.[Enabled], DI.[Type], DI.[Direction], DI.[FTPDropDir], DI.FTPProcessedDir \nFROM dbo.DEX_Interface DI\nWHERE InterfaceCode = 'IBWCSO'\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_DEX_Interface",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get Interface Info IBPDRSHIP",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DI.InterfaceCode, DI.[Enabled], DI.[Type], DI.[Direction], DI.[FTPDropDir], DI.FTPProcessedDir \nFROM dbo.DEX_Interface DI\nWHERE InterfaceCode = 'IBPDRSHIP'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_DEX_Interface",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get WC Files To Delete",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "FTP Move WC Orders to Processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "WC_SFTP",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@activity('Get Interface Info IBWCSO').output.value[0].FTPDropDir",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "SftpReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "For Each File To Delete",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get WC Files To Delete",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get WC Files To Delete').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Delete File",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "WC_SFTP_Connection_For_Del",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "@activity('Get Interface Info IBWCSO').output.value[0].FTPDropDir",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-27T04:51:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WC_SFTP')]",
				"[concat(variables('factoryId'), '/datasets/Storage_IB_Drop_Folder_Blob')]",
				"[concat(variables('factoryId'), '/pipelines/Move_Files')]",
				"[concat(variables('factoryId'), '/pipelines/Process_Data_Files')]",
				"[concat(variables('factoryId'), '/datasets/Tab_DEX_Interface')]",
				"[concat(variables('factoryId'), '/datasets/WC_SFTP_Connection_For_Del')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Process_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Failure Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Master_Process_Data_Internal",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-16.uksouth.logic.azure.com:443/workflows/b33138fbe83c46f8b855816ca303cd5d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Oo4c7MMB-R-izHOGj0HpvNdo6i7PEI9_XULXXnrL8v4",
								"type": "Expression"
							},
							"method": "POST",
							"body": {
								"value": "{\n    \"title\": \"@{activity('Master_Process_Data_Internal').output.pipelineName} FAILED!\",\n    \"message\": \"Error: @{activity('Master_Process_Data_Internal').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{activity('Master_Process_Data_Internal').output.pipelineName}\",\n    \"pipelineRunId\": \"@{activity('Master_Process_Data_Internal').output.pipelineRunId}\",\n    \"time\": \"@{utcnow()}\",\n   \"recipientEmailAddress\":\"@{activity('GetEmailList').output.firstRow.InterfaceFailureAlertEmails}\"\n    }",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetEmailList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT InterfaceSuccessAlertEmails,InterfaceFailureAlertEmails FROM dbo.DEX_Interface_Setup",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_DEX_Interface_Setup",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Master_Process_Data_Internal",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GetEmailList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Master_Process_Data_Internal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-27T05:03:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tab_DEX_Interface_Setup')]",
				"[concat(variables('factoryId'), '/pipelines/Master_Process_Data_Internal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Process_Data_Internal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update_BC_Message_Queue",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get_data_From_BC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Update_BC_Message_Queue",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Get_data_From_BC",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Send_Data_To_BC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Get_Data_From_BC",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Send_Data_To_WC",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Update_BC_Message_Queue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send_Data_To_WC",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Get_Data_From_WC",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Get_Data_From_WC",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Send_Data_To_BC",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get_Data_From_WC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send_Data_To_BC",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-27T04:53:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Update_BC_Message_Queue')]",
				"[concat(variables('factoryId'), '/pipelines/Get_Data_From_BC')]",
				"[concat(variables('factoryId'), '/pipelines/Send_Data_To_WC')]",
				"[concat(variables('factoryId'), '/pipelines/Get_Data_From_WC')]",
				"[concat(variables('factoryId'), '/pipelines/Send_Data_To_BC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Move_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Move files from one folder to another folder",
				"activities": [
					{
						"name": "Get File List",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Storage_Source_Destination_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SourceStore_Location",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SourceStore_Directory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "For Each File",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Files').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "Copy A File",
									"description": "Copy a file from the source store to the destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											},
											"recursive": false
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "Storage_Source_Des_File_Blob",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.SourceStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.SourceStore_Directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Storage_Source_Des_File_Blob",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.DestinationStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.DestinationStore_Directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Filter Files",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File List').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"SourceStore_Location": {
						"type": "String"
					},
					"SourceStore_Directory": {
						"type": "String"
					},
					"DestinationStore_Location": {
						"type": "String"
					},
					"DestinationStore_Directory": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-14T16:23:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Destination_Blob')]",
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Des_File_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Process_Data_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get InProcess Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Storage_IB_InProcess_Folder_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": "/",
									"Directory": "ibinprocess",
									"filename": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "For Each InProcess File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get InProcess Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get InProcess Files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Get File Count",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[Check For Processed File]",
											"storedProcedureParameters": {
												"FileName": {
													"type": "String",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Tab_BC_Inb_Docs",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "If File Count Is 0",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get File Count",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Get File Count').output.firstRow.FileCount,1)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Load In Process File From BS",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[Load_InProcess_Files_From_BS]",
													"storedProcedureParameters": {
														"ContainerName": {
															"value": "ibinprocess",
															"type": "String"
														},
														"DataSource": {
															"value": "AzureStorage",
															"type": "String"
														},
														"Direction": {
															"value": "Inbound",
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "WBDEXInterfaceDevDb",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-14T16:26:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Storage_IB_InProcess_Folder_Blob')]",
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Inb_Docs')]",
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send_Data_To_BC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Interface Docs For BC",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [MessageID]\n\t , [Direction]\n      ,[SiteCode]\n      ,[MessageDate]\n      ,[MessageType]\n      ,[CreatedOn]\n      ,[Exported]\n      ,[ExportedOn]\n      ,[LastUpdatedOn]\n      ,[FileData]\n      ,[FileName]\n      ,[BCMessageID]\n  FROM [dbo].[DEX_Interface_Document]\n  WHERE Direction = 'Inbound' AND Exported = 0",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_BC_Inb_Docs",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Document",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Interface Docs For BC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Interface Docs For BC').output.value\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Send Document To BC",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Get Service Config",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "v2.0/ac636b3d-2eb0-41e7-b5a6-7e15645731e9/SandboxDev/WS/We%20Are%20Luxe%20-%20Live/Codeunit/MessageMgmt"
										},
										{
											"name": "Destination",
											"value": "drop//"
										}
									],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "POST",
												"additionalHeaders": {
													"value": "Content-Type:@{activity('Get Service Config').output.firstRow.ContentType}\nsoapAction:@{activity('Get Service Config').output.firstRow.SoapAction}",
													"type": "Expression"
												},
												"requestBody": {
													"value": "@{concat('<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n    <soap:Body>\n        <CreateMessage xmlns=\"urn:microsoft-dynamics-schemas/codeunit/MessageMgmt\">\n            <xMLData>\n                <MessageAcknowledgement xmlns=\"urn:microsoft-dynamics-nav/xmlports/x52000\">\n                    <Id/>\n                    <MessageType>',\n\n            item().MessageType \n,'</MessageType>\n                    <Direction>Inbound</Direction>\n                    <Payload>\n                        <![CDATA[ ',\n\n            item().FileData \n,'\n                           ]]>\n\t\t\t\t\t\n                    </Payload>\n                    <Status>Unprocessed</Status>\n                    <ExternalRefID>\n                    <![CDATA[ ',\n\n            item().MessageID\n,'\n                           ]]> \n                   </ExternalRefID>\n                  <SiteCode>\n                  <![CDATA[ ',\n\n            item().SiteCode\n,'\n                           ]]> \n               </SiteCode>\n                </MessageAcknowledgement>\n            </xMLData>\n        </CreateMessage>\n    </soap:Body>\n</soap:Envelope>')}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"detectDataType": true,
												"namespaces": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['Soap:Envelope']['Soap:Body']['CreateMessage_Result']['xMLData']['MessageAcknowledgement']['Id']"
													},
													"sink": {
														"name": "BCMessageID",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['Soap:Envelope']['Soap:Body']['CreateMessage_Result']['xMLData']['MessageAcknowledgement']['ExternalRefID']"
													},
													"sink": {
														"name": "MessageID",
														"type": "Int32"
													}
												}
											],
											"collectionReference": ""
										}
									},
									"inputs": [
										{
											"referenceName": "Http_BC_WebService",
											"type": "DatasetReference",
											"parameters": {
												"RelUrl": {
													"value": "@activity('Get Service Config').output.firstRow.RelativeURL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Tab_DEX_Interface_Docs_Response",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Get Service Config",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[Get_Service_Configuration]",
											"storedProcedureParameters": {
												"ServiceCode": {
													"type": "String",
													"value": "CreateMessage"
												},
												"SiteCode": {
													"type": "String",
													"value": {
														"value": "@item().SiteCode",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Tab_BC_Inb_Docs",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Mark Document Exported",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Send Document To BC",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[Update_Exported_Message]",
											"storedProcedureParameters": {
												"MessageID": {
													"type": "Int32",
													"value": {
														"value": "@item().MessageID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Tab_BC_Inb_Docs",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Update Interface Documents",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Mark Document Exported",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Update_BC_Message ID_From_Response]"
									},
									"linkedServiceName": {
										"referenceName": "WBDEXInterfaceDevDb",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-27T05:03:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Inb_Docs')]",
				"[concat(variables('factoryId'), '/datasets/Http_BC_WebService')]",
				"[concat(variables('factoryId'), '/datasets/Tab_DEX_Interface_Docs_Response')]",
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send_Data_To_WC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Outbound Interfaces List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select InterfaceCode from Dex_Interface  WHERE [Enabled] = 1 and [Direction] = 'Outbound'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_BC_Inb_Docs",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Interface",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Outbound Interfaces List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Outbound Interfaces List').output.Value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Send_Data_To_WC_Internal",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Send_Data_To_WC_Internal",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"InterfaceCode": {
												"value": "@item().InterfaceCode",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-27T03:06:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Inb_Docs')]",
				"[concat(variables('factoryId'), '/pipelines/Send_Data_To_WC_Internal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send_Data_To_WC_Internal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "For Each Outbound Document",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Outbound Documents",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Outbound Documents').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Export Message to BS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.BC_Inbound_Documents"
										},
										{
											"name": "Destination",
											"value": "obdrop//@{\nreplace(\nconcat(item().SiteCode,'_',item().MessageType,'_',formatDateTime(utcNow(),'yyyyMMddhhmmss')),' ','')\n\n}.xml\n"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "dbo.Get_OutBound_Msg_Detail",
											"storedProcedureParameters": {
												"MessageID": {
													"type": "Int32",
													"value": {
														"value": "@item().MessageID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FileData",
														"type": "String",
														"physicalType": "xml"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 1
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Tab_BC_Inb_Docs",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "Storage_OB_Order_Confirmation_Save_In_Blob",
											"type": "DatasetReference",
											"parameters": {
												"SiteCode": {
													"value": "@item().SiteCode",
													"type": "Expression"
												},
												"MessageType": {
													"value": "@item().MessageType",
													"type": "Expression"
												},
												"MessageId": {
													"value": "@item().MessageID",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Update Exported Messages",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Export Message to BS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Update_Exported_Message]",
										"storedProcedureParameters": {
											"MessageID": {
												"value": {
													"value": "@item().MessageID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "WBDEXInterfaceDevDb",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Get Outbound Documents",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1000\n\t\tMessageID, SiteCode, MessageType, FileData,InterfaceCode\n\tFROM \n\t\tDEX_Interface_Document \n\tWHERE \n\t\tDirection = 'Outbound'  and Exported = 0 and InterfaceCode= '@{pipeline().parameters.InterfaceCode}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_Dex_Interface_Document",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Upload Files to WC",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "For Each Outbound Document",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Upload_Files_To_WC",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Interface_Code": {
									"value": "@pipeline().parameters.InterfaceCode",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"InterfaceCode": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-26T15:43:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tab_Dex_Interface_Document')]",
				"[concat(variables('factoryId'), '/pipelines/Upload_Files_To_WC')]",
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Inb_Docs')]",
				"[concat(variables('factoryId'), '/datasets/Storage_OB_Order_Confirmation_Save_In_Blob')]",
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Update_BC_Message_Queue')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Doc List To Confirm",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT SiteCode,MessageID,BCMessageID  FROM [dbo].[DEX_Interface_Document] \nWHERE ISNULL([ConfirmationSentToBC],0) = 0 AND Direction ='OutBound'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_BC_Inb_Docs",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Document",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Doc List To Confirm",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Doc List To Confirm').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Soap Keys",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Get Service Config",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "POST",
												"additionalHeaders": {
													"value": "Content-Type:@{activity('Get Service Config').output.firstRow.ContentType}\nsoapAction:@{activity('Get Service Config').output.firstRow.SoapAction}",
													"type": "Expression"
												},
												"requestBody": {
													"value": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:dex=\"urn:microsoft-dynamics-schemas/page/dexmessagequeuecard\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <dex:Read>\n         <dex:ID>@{item().BCMessageID}</dex:ID>\n      </dex:Read>\n   </soapenv:Body>\n</soapenv:Envelope>",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"detectDataType": true,
												"namespaces": true
											}
										},
										"dataset": {
											"referenceName": "Http_BC_WebService",
											"type": "DatasetReference",
											"parameters": {
												"RelUrl": {
													"value": "@activity('Get Service Config').output.firstRow.RelativeURL",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Update BC Confirmation",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Update External Reference",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[Update_BC_Confirmation_Of_OB_Msg]",
											"storedProcedureParameters": {
												"BCMessageID": {
													"type": "String",
													"value": {
														"value": "@{item().BCMessageID}",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Tab_BC_Inb_Docs",
											"type": "DatasetReference"
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Update External Reference",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Get Service Config For Site",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "POST",
												"additionalHeaders": {
													"value": "Content-Type:@{activity('Get Service Config For Site').output.firstRow.ContentType}\nsoapAction:@{activity('Get Service Config For Site').output.firstRow.SoapAction}",
													"type": "Expression"
												},
												"requestBody": {
													"value": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:dex=\"urn:microsoft-dynamics-schemas/page/dexmessagequeuecard\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <dex:Update>\n         <dex:DexMessageQueueCard>\n            \n            <dex:Key>@{json(xml(replace(string(xml(activity('Get Soap Keys').output.value[0])), ':', ''))).Envelope.Body.Read_Result.DexMessageQueueCard.Key}</dex:Key>\n            \n            <dex:External_Reference_ID>@{item().MessageID}</dex:External_Reference_ID>\n            \n            <dex:ID>@{item().BCMessageID}</dex:ID>\n            <dex:Status>Processed</dex:Status>\n         </dex:DexMessageQueueCard>\n      </dex:Update>\n   </soapenv:Body>\n</soapenv:Envelope>",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"namespaces": true
											}
										},
										"dataset": {
											"referenceName": "Http_BC_WebService",
											"type": "DatasetReference",
											"parameters": {
												"RelUrl": {
													"value": "@activity('Get Service Config For Site').output.firstRow.RelativeURL",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Get Service Config",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[Get_Service_Configuration]",
											"storedProcedureParameters": {
												"ServiceCode": {
													"type": "String",
													"value": {
														"value": "ReadOutboundMessages",
														"type": "Expression"
													}
												},
												"SiteCode": {
													"type": "String",
													"value": {
														"value": "@item().SiteCode",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Tab_BC_Outb_Doc_Response",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Get Service Config For Site",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Get Soap Keys",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[Get_Service_Configuration]",
											"storedProcedureParameters": {
												"ServiceCode": {
													"type": "String",
													"value": {
														"value": "UpdateOutboundMessages",
														"type": "Expression"
													}
												},
												"SiteCode": {
													"type": "String",
													"value": {
														"value": "@item().SiteCode",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Tab_BC_Outb_Doc_Response",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"SoapKey": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-15T04:29:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Inb_Docs')]",
				"[concat(variables('factoryId'), '/datasets/Http_BC_WebService')]",
				"[concat(variables('factoryId'), '/datasets/Tab_BC_Outb_Doc_Response')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Upload_Files_To_WC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File List",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Storage_Source_Destination_Blob",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SourceStore_Location",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SourceStore_Directory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get interface Info",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File List').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type,'File'),equals(substring(item().name,add(indexof(item().name,'_'),1),sub(lastindexof(item().name,'_'),add(indexof(item().name,'_'),1))),activity('Get interface Info').output.value[0].Type))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For Each File",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Filtered Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('FilteredFiles')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Uplaod File to WC",
									"description": "Copy a file from the source store to the destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "SftpWriteSettings",
												"operationTimeout": "01:00:00",
												"useTempFileRename": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Storage_Source_Des_File_Blob",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.SourceStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.SourceStore_Directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "WC_SFTP",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "@activity('Get Interface Info').output.value[0].FTPDropDir",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Move File to Processed",
									"description": "Move a file from the source store to the destination store.",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Uplaod File to WC",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Storage_Source_Des_File_Blob",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.SourceStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.SourceStore_Directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Storage_Source_Destination_Blob",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.DestinationStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.DestinationStore_Directory",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get interface Info",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DI.InterfaceCode, DI.[Enabled], DI.[Type], DI.[Direction], DI.[FTPDropDir], DI.FTPProcessedDir \nFROM dbo.DEX_Interface DI\nWHERE InterfaceCode = '@{pipeline().parameters.Interface_Code}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tab_DEX_Interface",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set Filtered Files",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FilteredFiles",
							"value": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"SourceStore_Location": {
						"type": "string",
						"defaultValue": "obdrop"
					},
					"SourceStore_Directory": {
						"type": "string",
						"defaultValue": "/"
					},
					"DestinationStore_Location": {
						"type": "string",
						"defaultValue": "obprocessed"
					},
					"DestinationStore_Directory": {
						"type": "string",
						"defaultValue": "/"
					},
					"Interface_Code": {
						"type": "string"
					}
				},
				"variables": {
					"FilteredFiles": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-15T04:28:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Destination_Blob')]",
				"[concat(variables('factoryId'), '/datasets/Tab_DEX_Interface')]",
				"[concat(variables('factoryId'), '/datasets/Storage_Source_Des_File_Blob')]",
				"[concat(variables('factoryId'), '/datasets/WC_SFTP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_BC_WebService')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Http_BC_Service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"RelUrl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().RelUrl",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Http_BC_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage_IB_Drop_Folder_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "wbdexstorageaccountdev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "/"
					},
					"Directory": {
						"type": "string",
						"defaultValue": "drop"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/wbdexstorageaccountdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage_IB_InProcess_Folder_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the destination store.",
				"linkedServiceName": {
					"referenceName": "wbdexstorageaccountdev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String",
						"defaultValue": "/"
					},
					"Directory": {
						"type": "String",
						"defaultValue": "inprocess"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"container": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/wbdexstorageaccountdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage_OB_Order_Confirmation_Save_In_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "wbdexstorageaccountdev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SiteCode": {
						"type": "string"
					},
					"MessageType": {
						"type": "string"
					},
					"MessageId": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{concat(dataset().SiteCode,'_',dataset().MessageType,'_',dataset().MessageId,'-',formatDateTime(utcNow(),'yyyyMMddhhmmss'))}.xml",
							"type": "Expression"
						},
						"container": "obdrop"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"quoteChar": ""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/wbdexstorageaccountdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage_Source_Des_File_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the file in the data source store.",
				"linkedServiceName": {
					"referenceName": "wbdexstorageaccountdev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"container": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/wbdexstorageaccountdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage_Source_Destination_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the folder in the data source store.",
				"linkedServiceName": {
					"referenceName": "wbdexstorageaccountdev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"container": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/wbdexstorageaccountdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_BC_Inb_Docs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WBDEXInterfaceDevDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteCode",
						"type": "nvarchar"
					},
					{
						"name": "MessageDate",
						"type": "date"
					},
					{
						"name": "MessageType",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Exported",
						"type": "bit"
					},
					{
						"name": "ExportedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FileData",
						"type": "xml"
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "BCMessageID",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BC_Inbound_Documents"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_BC_Outb_Doc_Response')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WBDEXInterfaceDevDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BCMessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MessageType",
						"type": "nvarchar"
					},
					{
						"name": "Direction",
						"type": "nvarchar"
					},
					{
						"name": "PayLoad",
						"type": "xml"
					},
					{
						"name": "SiteCode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BC_Outbound_Document_Response"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Interface')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WBDEXInterfaceDevDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "InterfaceCode",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Enabled",
						"type": "bit"
					},
					{
						"name": "CopyToOutboundFolder",
						"type": "bit"
					},
					{
						"name": "CopyToOutboundInterfaceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "Action",
						"type": "nvarchar"
					},
					{
						"name": "FTPConfig",
						"type": "nvarchar"
					},
					{
						"name": "FTPDropDir",
						"type": "nvarchar"
					},
					{
						"name": "FTPProcessedDir",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Interface_Docs_Response')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WBDEXInterfaceDevDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WBInboundBCDocumentId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "SiteCode",
						"type": "text"
					},
					{
						"name": "MessageDate",
						"type": "date"
					},
					{
						"name": "MessageType",
						"type": "text"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Exported",
						"type": "bit"
					},
					{
						"name": "ExportedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FileData",
						"type": "text"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface_Document_Response"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Interface_Setup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WBDEXInterfaceDevDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WB_Interface_Setup_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AZKeyVaultURL",
						"type": "nvarchar"
					},
					{
						"name": "BCBaseURL",
						"type": "nvarchar"
					},
					{
						"name": "Version",
						"type": "nvarchar"
					},
					{
						"name": "DefaultTennantID",
						"type": "nvarchar"
					},
					{
						"name": "ActiveEnvironment",
						"type": "nvarchar"
					},
					{
						"name": "ExchangeRateAPIUrl",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceSuccessAlertEmails",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceFailureAlertEmails",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceInboundFilesBasePath",
						"type": "nvarchar"
					},
					{
						"name": "InterfaceOutboundFilesBasePath",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface_Setup"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_DEX_Site_Config')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WBDEXInterfaceDevDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SiteCode",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "TennantID",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "ActiveEnvironment",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Site_Config"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tab_Dex_Interface_Document')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WBDEXInterfaceDevDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MessageID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteCode",
						"type": "nvarchar"
					},
					{
						"name": "Direction",
						"type": "nvarchar"
					},
					{
						"name": "MessageDate",
						"type": "date"
					},
					{
						"name": "MessageType",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Exported",
						"type": "bit"
					},
					{
						"name": "ExportedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FileData",
						"type": "xml"
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "BCMessageID",
						"type": "nvarchar"
					},
					{
						"name": "ConfirmationSentToBC",
						"type": "bit"
					},
					{
						"name": "ConfirmationSentOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InterfaceCode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEX_Interface_Document"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WBDEXInterfaceDevDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WC_SFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpWpEngine",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SftpWpEngine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WC_SFTP_Connection_For_Del')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpWpEngine",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SftpWpEngine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_WB_DEX_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://wb-dex-key-vault-dev.vault.azure.net/"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_BC_Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "https://api.businesscentral.dynamics.com/",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "ADMIN",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_WB_DEX_DEV",
							"type": "LinkedServiceReference"
						},
						"secretName": "BC-Password",
						"secretVersion": ""
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_WB_DEX_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SftpWpEngine')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "elationfbldev.sftp.wpengine.com",
					"port": "2222",
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "elationfbldev-elation",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_WB_DEX_DEV",
							"type": "LinkedServiceReference"
						},
						"secretName": "WC-SFTP-Password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_WB_DEX_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WBDEXInterfaceDevDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_WB_DEX_DEV",
							"type": "LinkedServiceReference"
						},
						"secretName": "SQL-Database-Connection-String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_WB_DEX_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/wbdexstorageaccountdev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_WB_DEX_DEV",
							"type": "LinkedServiceReference"
						},
						"secretName": "Storage-Account-Connection-String",
						"secretVersion": ""
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_WB_DEX_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_Delete_Older_Files')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Delete_Older_Files_From_Blob",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-20T06:38:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Delete_Older_Files_From_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_Process_Data')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master_Process_Data",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2021-08-15T16:17:00Z",
						"endTime": "2021-09-30T16:17:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master_Process_Data')]"
			]
		}
	]
}